@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
    color: '#334155';
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    backdrop-filter: blur(2px);
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}
